# -----------------------------------------------------------------
# bblean 1.17 - MENU FILE
# -----------------------------------------------------------------

# Available menu commands are listed in the documentation.

[begin] (Menu)

	[submenu] (Launch)
		[exec] (Internet) {C:\Program Files (x86)\Mozilla Firefox\firefox.exe}
		[exec] (Steam) {E:\Steam\Steam.exe}
		[exec] (IRC) {C:\Program Files\HexChat\hexchat.exe}
		[exec] (TeamSpeak) {C:\Program Files\TeamSpeak 3 Client\ts3client_win64.exe}
		[exec] (Music) {C:\Program Files (x86)\foobar2000\foobar2000.exe}
		[exec] (Paint) {C:\Windows\System32\mspaint.exe}
		[exec] (Inkscape) {C:\Program Files (x86)\Inkscape\inkscape.exe}
		[exec] (Photoshop) {C:\Program Files (x86)\Adobe\Adobe Photoshop CS5\Photoshop.exe}
		[exec] (Illustrator) {C:\Program Files (x86)\Adobe\Adobe Illustrator CS5.1\Support Files\Contents\Windows\Illustrator.exe}
		[exec] (VirtualBox) {C:\Program Files\Oracle\VirtualBox\VirtualBox.exe}
			[nop]
			[submenu] (Misc)
			[path] (x86) {C:\Program Files (x86)}
			[path] (x64) {C:\Program Files}
			[path] (Portable) {D:\DOWNLOADS\MiscPrograms}
			[path] (Drives)	{DRIVES}
			[exec] (Bin) {shell:RecycleBinFolder}
			[Run] (Run)
			[end]
			[end]

	[submenu] (Settings)
		[exec] (Bblean) {C:\bblean}
		[config] (Configuration)
		[path] (Controls) {CONTROLS}
		[stylesmenu] (Styles) {C:\bbLean\styles}
		[include] {plugins\bbLeanSkin\bbLeanSkinMenu.rc}
		[submenu] (Edit)
			[editstyle] (Current Style)
			[editmenu] (menu.rc)
			[editblackbox] (blackbox.rc)
			[editextensions] (extensions.rc)
			[editplugins] (plugins.rc)
			[edit] (bbKeys.rc) {plugins\bbKeys\bbKeys.rc}
			[end]
			[nop]
			[exec] (Install/Uninstall) {bsetshell.exe}
			[reconfig] (Reconfigure)
			[restart] (Restart)
			[end]
	[submenu] (Goodbye)
		[logoff] (Logoff)
		[reboot] (Reboot)
		[shutdown] (Shutdown)
		[end]
[end]